@font-face {
  font-family: 'Shabnam';
  src: url('assets/fonts/Shabnam.woff') format('woff'),
    url('assets/fonts/Shabnam.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  src: url('assets/fonts/IRANYekanWebRegular.woff') format('woff'),
    url('assets/fonts/IRANYekanWebRegular.woff2') format('woff2'),
    url('assets/fonts/IRANYekanWebRegular.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
